.section {
  height: 100vh;
  padding: 0 10rem;
}

.section--slider {
  height: calc( 100vh - 10rem);
}

.for-slider {
  align-items: center;
  background: #e6e1e1;
  color: #fff;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 0 auto 7rem auto;
  max-width: 144rem;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.slider__title {
  font-size: 4.8rem;
}

.slider__subtitle {
  font-size: 2.4rem;
}

.slider{
  width: 100%;
  position: relative;
}

/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
  width: 100%;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
  position: absolute;
  color: #fff;
  font-size: 35px;
  /* Выравнивание текста по горизонтали и по вертикали*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Тень*/
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
  text-align: center;
}
.slider-dots_item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
  background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}
@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}


.slider__scroll {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 144rem;
  width: 100%;
}

.slider__dots {
  display: flex;
}

.slider__dot {
  border: .2rem solid #000;
  border-radius: 50%;
  height: 1rem;
  margin-right: 2rem;
  width: 1rem;
}

.slider__line {
  background:#000;
  height: 0.2rem;
  width: 85%;
}

.slider__line::after {
  background: #454545;
  content: "";
  display: block;
  height: .4rem;
  transform: translateY(-25%);
  width: 25%;
}